.main {
    font-family: "Exo 2", sans-serif;
    color: #4C6695;
    letter-spacing: 0em;
    text-align: center;
    background: rgb(175,232,223);
    background: linear-gradient(180deg, rgba(175,232,223,1) 0%, rgba(22,160,133,1) 96%);
    position: absolute;
    right: 0;
    left: 0;
    height: 100vh;
}

.main header {
    width: 100%;
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1.5em;
    padding-right: 1em;
/*    background-color: #2E3436;*/
    background: rgb(46,52,54);
background: linear-gradient(180deg, rgba(46,52,54,1) 90%, rgba(175,232,223,1) 100%);
}

.main header img {
width: 100%;
height: 25em;
}

.main footer {
    width: 100%;
    font-size: 1em;
    background-color: #16A085;
    padding-top: 0;
    padding-bottom: 0.6em;
}

.main h1 {
    color: #565d66;
    font-size: calc(2.5rem);
    line-height: 1.0em;
}

.main h2 {
    color: #565d66;
    font-size: calc(1.6rem);
    line-height: 26px;
}

.main h3 {
    color: #F9F9F9;
    font-size: 0.9em;
    line-height: 0.9em;
    text-align: right;
    padding-right: 1.2em;
}

.main p {
    font-size: 1.4rem;
    word-wrap: break-word;
}

/* .main body{

background: rgb(175,232,223);
background: linear-gradient(180deg, rgba(175,232,223,1) 0%, rgba(22,160,133,1) 96%);
   max-width: 100%;
} */

.main a {
    display: inline-block;
    color:#ffeb3b;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
    position:relative;
}

.main a:after {
    background-color: #ffeb3b;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}
.main a:hover:after,
.main a:focus:after {
    width: 100%;
}